<div class="modal fade" id="my-supplier-dialog-edit" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h3>Cập nhật nhà cung cấp</h2>
			</div>
			<form id="form-edit" method="put" enctype="multipart/form-data">
				<div class="modal-body ">
					<div class="form-row">
						<div class="col-md-7 col-mb-1">
							<label for="editnameUserInput">Tên nhà cung cấp</label>
							<input type="text" class="form-control" id="editnameUserInput" value="" placeholder="Tên nhà cung cấp" required/>
						</div>
					</div>
					<div class="file-field input-field"></div>
					<div class="form-row">
						<div class="col-md-12">
							<label for="new-supplier-avatar">Ảnh đại diện</label>
							<div class="custom-file">
								<input type="file" name="myImage" class="custom-file-input" id="editavatarUserInput"/>
								<label class="custom-file-label" for="new-supplier-avatar">Choose file</label>
							</div>
						</div>
					</div>

					<div class="form-row">
						<div class="col-md-12">
							<label for="editemailUserInput">Email</label>
							<input type="text" class="form-control" id="editemailUserInput" value="" placeholder="Email" />
						</div>
					</div>
					<div class="form-row">
						<div class="col-md-7 col-mb-1">
							<label for="editphoneUserInput">Số điện thoại</label>
							<input type="text" class="form-control" id="editphoneUserInput" value="" placeholder="Số điện thoại"/>
						</div>
					</div>
					
					
					<div class="form-row">
						<div class="col-md-12">
							<label for="editaddressUserInput">Địa chỉ</label>
							<input type="text" class="form-control" id="editaddressUserInput" value=""/>
						</div>
					</div>
					<div class="form-row">
						<div class="col-md-12">
							<label for="new-supplier-moreinfo">Thông tin khác</label>
								<textarea class="form-control" id="new-supplier-moreinfo" value="he is so handsome and smart"></textarea>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-default btn-primary closemodaledit" type="submit" >Cập nhật</button>
					<button class='btn btn-default btn-dark' id="editclose" type ='button' data-dismiss="modal">Hủy bỏ</button>
				</div>
			</form>
		</div>
	
	</div>

</div>