<div class="modal fade" id="my-supplier-dialog-new" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h3>Thêm mới nhà cung cấp</h2>
			</div>
			<form id="form">
				<div class="modal-body ">
					<div class="form-row">
						<div class="col-md-7 col-mb-1">
							<label for="nameUserInput">Tên nhà cung cấp</label>
							<input type="text" class="form-control" id="nameUserInput" value="" placeholder="Tên nhà cung cấp" required/>
						</div>
					</div>
					<div class="form-row">
						<div class="col-md-12">
							<label for="new-supplier-avatar">Ảnh đại diện</label>
							<div class="custom-file">
								<input type="file" class="custom-file-input" id="new-supplier-avatar"/>
								<label class="custom-file-label" for="new-supplier-avatar">Choose file</label>
							</div>
						</div>
					</div>
					<div class="form-row">
						<div class="col-md-12">
							<label for="emailUserInput">Email</label>
							<input type="text" class="form-control" id="emailUserInput" value="" placeholder="Email" />
						</div>
					</div>
					<div class="form-row">
						<div class="col-md-7 col-mb-1">
							<label for="phoneUserInput">Số điện thoại</label>
							<input type="text" class="form-control" id="phoneUserInput" value="" placeholder="Số điện thoại"/>
						</div>
					</div>
					
					
					<div class="form-row">
						<div class="col-md-12">
							<label for="addressUserInput">Địa chỉ</label>
							<input type="text" class="form-control" id="addressUserInput" value=""/>
						</div>
					</div>
					<div class="form-row">
						<div class="col-md-12">
							<label for="new-supplier-moreinfo">Thông tin khác</label>
								<textarea class="form-control" id="new-supplier-moreinfo" value="he is so handsome and smart"></textarea>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-default btn-primary closemodal" type="submit" >Tạo mới</button>
					<button class='btn btn-default btn-dark' id="closemodal" type ='button' data-dismiss="modal">Hủy bỏ</button>
				</div>


			</form>
		</div>
	
	</div>

</div>