
<!DOCTYPE html>
<html lang="en">

  <%include ../head%>

  <body>
   
    <div class="page-wrapper chiller-theme toggled">
      <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
        <i class="fas fa-bars"></i>
      </a>
      <%include ../sidebar%>

      <main class="page-content">
            
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            
                <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                    <a class="navbar-brand" href="/admin/">Trang chủ</a>
                    <a class="navbar-brand" href="#">/</a>
                    <a class="navbar-brand" href="/admin/supplier">Nhà cung cấp</a>
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="button" 
                        data-toggle="modal" data-target="#my-supplier-dialog-new">Tạo mới</button>
                    </form>
                </div>
            </nav>

            <div class="modal fade my-temp-dialog" id="my-supplier-dialog-new" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3>Thêm mới nhà cung cấp</h2>
                        </div>
                        <form id="form">
                            <div class="modal-body ">
                                <div class="form-row">
                                    <div class="col-md-7 col-mb-1">
                                        <label for="nameUserInput">Tên nhà cung cấp</label>
                                        <input type="text" class="form-control" id="nameUserInput" value="" placeholder="Tên nhà cung cấp" required/>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-7 col-mb-1">
                                        <label for="phoneUserInput">Số điện thoại</label>
                                        <input type="text" class="form-control" id="phoneUserInput" value="" placeholder="Số điện thoại"/>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-12">
                                        <label for="emailUserInput">Email</label>
                                        <input type="text" class="form-control" id="emailUserInput" value="" placeholder="Email" />
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-12">
                                        <label for="new-supplier-avatar">Ảnh đại diện</label>
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="new-supplier-avatar"/>
                                            <label class="custom-file-label" for="new-supplier-avatar">Choose file</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-12">
                                        <label for="addressUserInput">Địa chỉ</label>
                                        <input type="text" class="form-control" id="addressUserInput" value=""/>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-12">
                                        <label for="new-supplier-moreinfo">Thông tin khác</label>
                                            <textarea class="form-control" id="new-supplier-moreinfo" value="he is so handsome and smart"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-default btn-primary" type="submit" >Tạo mới</button>
                                <button class='btn btn-default btn-dark' id="closemodal" type ='button' data-dismiss="modal">Hủy bỏ</button>
                            </div>
    

                        </form>
                    </div>
                
                </div>
        
            </div>




            <div class="row">
                <div id="temp" class="col-lg-1"></div>
                <div class="col-lg-10">
                    <!-- <form id="form">
                        <div class="form-group">
                            <label for="todo">Supplier</label>
                            <input type="text" class="form-control" id="nameUserInput" placeholder="displayName">
                            <input type="text" class="form-control" id="emailUserInput" placeholder="email">
                            <input type="text" class="form-control" id="phoneUserInput" placeholder="phone">
                            <input type="text" class="form-control" id="addressUserInput" placeholder="address">
                            <br/>
                            <button type="submit" class="btn btn-primary">Create</button>
                        </div>
                        
                    </form> -->
                </div>
                <div class="col-lg-1"></div>
            </div>

       <div class="container">
            
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-10">
                    <ul class="list-group" id="display">
                    
                    </ul>
                </div>
                <div class="col-lg-1"></div>
            </div> 
            <br>
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-10">
                    <div class="alert" role="alert" id="message">
                        
                    </div>
                </div>
                <div class="col-lg-1"></div>
            </div>   
          
       
        </div>
       <!-- Optional JavaScript -->
       <!-- JQuery First, then Popper.js, then Bootstrap Js-->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script>
            $(document).ready(() =>{
               
                const display = $("#display") ;
                const form = $("#form");
                const nameUserInput = $("#nameUserInput");
                const emailUserInput = $("#emailUserInput");
                const phoneUserInput = $("#phoneUserInput");
                const addressUserInput = $("#addressUserInput");
                const closemodal = $("#closemodal");
                
                const modal = $("#my-supplier-dialog-new");
                const getSupplier = () => {
                    fetch("/admin/getSupplier", {method: "get"})
                        .then(response => response.json())
                        .then(data =>{
                            displaySupplier(data);
                        });
                }

               getSupplier();

               const buildTemplate = (supplier, ids) =>{
                   return `
                    <li class ="list-group-item" id ="${ids.listItemID}">
                        <div class = "row">
                            <div class = "col-md-3" id = "${ids.supplierID}">${supplier.displayName}</div> 
                            <div class="col-md-3" id="${ids.emailphone}">${supplier.email}, ${supplier.phone}</div>
                            <div class="col-md-3" id="${ids.address}">${supplier.address}</div>
                            <div class="col-md-3 text-right">
                                <button type="button" class="btn btn-secondary" id="${ids.editID}">Edit</button>
                                <button type="button" class="btn btn-danger" id="${ids.deleteID}">Delete</button>
                            </div>
                        </div>
                    </li>
                   `;
               }

               const buildIDS = (supplier) => {
                   return {
                       listItemID: "listItem_" + supplier._id,
                       supplierID: "supplier_" + supplier._id,
                       emailphone: "emailphone_" + supplier._id,
                       address: "address_" + supplier._id,
                       editID: "edit_" + supplier._id,
                       deleteID: "delete_" + supplier._id
                   }
               }

               const displaySupplier = (data) => {
                   data.forEach((supplier) => {
                        let ids = buildIDS(supplier);
                        display.append(buildTemplate(supplier,ids));
                        editSupplier(supplier, ids);
                        deleteSupplier(supplier, ids);
                   });
               }

               resetSupplierInput = () =>{ 
                   nameUserInput.val('');
                   emailUserInput.val('');
                   phoneUserInput.val('');
                   addressUserInput.val('');
                }

               form.submit((e) =>{
                   e.preventDefault();
                   fetch("/admin/supplier", {
                       method: 'post',
                       body: JSON.stringify({displayName: nameUserInput.val(),email: emailUserInput.val(), phone: phoneUserInput.val(), address: addressUserInput.val()}),
                       headers: {"Content-Type": "application/json; charset=utf-8"}
                   })
                   .then((response) =>{
                       return response.json();
                   })
                   .then(data =>{
                       if(!data.error){
                           if(data.result.ok == 1 && data.result.n == 1){
                                let ids = buildIDS(data.document);
                                display.append(buildTemplate(data.document,ids));
                                editSupplier(data.document,ids);
                                deleteSupplier(data.document,ids);
                            } 
                       }
                       modal.removeAttr("display");
                       modal.attr("display","none");
                       closemodal.trigger("click");
                       //resetSupplierInput();
                       
                   });
               });

               const editSupplier = (supplier, ids) => {
                let editBtn = $(`#${ids.editID}`);
                editBtn.click(()=>{
                    fetch(`/admin/supplier/${supplier._id}`,{
                        method: "put",
                        headers: {"Content-Type": "application/json; charset=utf-8"},
                        body: JSON.stringify({
                            displayName: nameUserInput.val(),
                            email: emailUserInput.val(),
                            phone: phoneUserInput.val(),
                            address: addressUserInput.val()
                        })
                    }).then((response)=>{
                        return response.json();
                    }).then((data)=>{
                        if(data.ok == 1){
                            let supplierIndex = $(`#${ids.supplierID}`);
                            supplierIndex.html(data.value.displayName);
                            let emailphone = $(`#${ids.emailphone}`);
                            emailphone.html(data.value.email + ", " + data.value.phone);
                            let phone = $(`#${ids.address}`);
                            phone.html(data.value.address);
                            resetSupplierInput();
                           // get messsage here
                        }else{
                         // get message here
                        }
                    });
                });
               }


               const deleteSupplier = (supplier, ids) =>{
                   let deleteBtn = $(`#${ids.deleteID}`);
                   deleteBtn.click(() => {
                        fetch(`/admin/supplier/${supplier._id}`,{
                            method: "delete"
                        }).then(response =>{
                            return response.json();
                        }).then(data => {
                            if(data.ok == 1){
                                $(`#${ids.listItemID}`).remove();
                            }
                        });
                   });
               }
            });
        </script>

      </main>
    
    </div>

  </body>

</html>

