<!DOCTYPE html>
<html>
<head>
<% include ../commons/head%>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  
<% include ../commons/header%>
  <!-- Left side column. contains the logo and sidebar -->
  
<% include ../commons/sidebar%>


<% include ../commons/footer%>
<% include ../commons/plugin%>
</body>
</html>
